.summer{
    display: flex;
    width: 96.5%;
    margin-left: 20px;
    height: 100px;
    justify-content: center;
    background-color: #f0ede8;
}
.summer h3{
   margin-top: 40px;
}
.butts{
    position: static;
    
    width: 100px;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    
    margin-left: 10px;
   
}
.offimg1 h3,h5{
    color: rgb(59, 56, 56);
    text-align: center;
}

.offimg1{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
.offimg1 div img{
    width: 94%;
    height: 300px;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .offroom, .offimg1 {
        flex-direction: column;
        align-items: center;
        width: 800px;
        margin-left: 590px;
    }

    .offroom div, .offimg1 div {
        width: 90%;
        margin-bottom: 20px;
    }

    .summer{
        width: 820px;
        margin-left: 590px;
    }
    .offroom div img, .offimg1 div img {
        width: 100%;
        height: auto;
    }

    .butt {
        width: 90%;
    }
}