.offers {
    padding: 20px;
}

.offroom{
    display: flex;
    justify-content: space-evenly;
    /* max-width: 100%; */
    flex-wrap: wrap;
    margin-top: 30px;
}
.offroom div {
    flex: 1;
    margin: 10px;
    text-align: center;
}s
/* .offroom div img{
    width: 96%;
    height: 300px;
    margin-left: 15px;
} */

.offroom div img {
    width: 100%;
    height: auto;
    max-width: 300px;
}
/* .offroom h3,h5{
    color: rgb(59, 56, 56);
    text-align: center;
}
.offimg h3,h5{
    color: rgb(59, 56, 56);
    
} */
.offroom h3, .offroom h5 {
    color: rgb(59, 56, 56);
}

.offimg{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.offimg div img{
    width: 100%;
    height: 300px;
    max-width: 100%;
}
.offimg h3 {
    color: rgb(59, 56, 56);
}
/* #butt{
    margin-left: 600px;
} */

@media (max-width: 768px) {
    
    .of h1{
        margin-left: 60px;
        
    }
    .of{
        margin-left: 5px;
    }
    .offroom, .offimg {
        margin-left: 400px;
        width: 768px;
        flex-direction: column;
        align-items: center;
    }

    .offroom div, .offimg div {
        width: 100%;
    }

    .offroom div img, .offimg div img {
        width: 100%;
    }

    .offroom h3, .offroom h5, .offimg h3 {
        text-align: center;
    }
}