.sel {
    background-color: #f0ede8 ;
    width: 97.8%;
    margin-left: 25px;
    text-align: center;
    border-radius: 3px;
    margin-top: 40px;
}
.sel h1{
    display: inline-block;
    margin-top: 20px;
}
.sell {
    margin-bottom: 20px;
    margin-left: 180px;
     
}

.sell span {
    padding: 25px;
    font-size: 18px;
    color: rgb(59, 56, 56);
    cursor: pointer; 
    position: relative;
    
}

hr {
    width: 850px;
    border: 0;
    border-top: 1px solid white;
    transition: border-color 0.3s;
}

.app1 {
    width: 97.8%;
    margin-top: 30px;
}

.app1 div {
    display: inline-block;
    
}

.det {
    display: inline-block;
    position: absolute;
    margin-left: -200px;
    color: #fff;
    width: 35px;
    
    background-color: #D10A24;
}

.app1 div a {
    margin-top: -23px;
    
}
.app1{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 250px;
    height: 500px;
}
.app1 img {
    position: relative;
    width: 200px;
    height: 200px;
    
}


.sell span::before {
    content: '';
    position: absolute;
    bottom: 3px; 
    left: 50%;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease, left 0.3s ease;
}

.sell span:hover::before {
    width: 100%; 
    left: 0; 
}
.imgcontentts{
    width: 200px;
    padding: 10px;
}
.imgcontentts h2,h5{
    text-align: start !important;
}
