.offroom{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin-top: 30px;
}
.of h1{
    text-align: center;
}
.offroom div img{
    width: 96%;
    height: 300px;
    
    margin-right: 15px;
}
.offroom h3,h5{
    color: rgb(59, 56, 56);
}
.offimg h3,h5{
    color: rgb(59, 56, 56);
    
}

.offimg h3,h5{
    text-align: center;
}
.offimg{
    display: flex;
    justify-content: space-evenly;

    max-width: 100%;
}
.offimg div img{
    width: 100%;
    height: 300px;

}
#butt{
    margin-top: 20px;
    margin-left: 500px;
}
@media (max-width: 768px) {
    
    .offroom, .offimg {
        margin-left: 820px;
        width: 990px;
        flex-direction: column;
        align-items: center;
    }

    .offroom div, .offimg div {
        width: 100%;
        margin-bottom: 20px;
    }
    .offroom div img, .offimg div img {
        width: 100%;
        height: auto;
    }

    .butt {
        width: 90%;

    }
    #butt{
        margin-left: 830px;
        width: 960px;
    }
}