.productoff{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    margin-top: 20px;
}
.img1{
    width: 430px;
    height: 250px;
    padding: 3px;
    border-radius: 3px;
}

.img1:hover{
    box-shadow: 1px 1px 2px 4px #777676;

}
.product:hover{
    box-shadow: 1px 1px 2px 4px #ccc;
}

.productlist{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;

}
.product{
    background-color: #f0ede8;
    width: 430px;
    height: 250px;
    margin-top: 20px;
    
    border-radius: 5px;
    
}
.line{
    margin-top:-5px;
    text-align: center;
}

.toppro{

    text-decoration: underline;
    color: black !important;
    margin-top: 150px;
    margin-left: 300px;
}
.color{
    color: black;
    
}
.title2{
    margin-top: 25px;
    margin-right: 180px;

}
.red{
    display: inline-block;
    width: fit-content;
    
    height: 20px;
    background-color: #DF0542;
    color: #FFFFFF;
    padding: 2px 6px;
}
.producttype{
    display: flex;
    justify-content: space-around;
}
.appliance{
    width: 73px;
    height: 73px;
    vertical-align: middle;
    border-radius: 50%;
}

.producttype span{
   margin-left: 20px;
}
.sub{
    font-size:12px;
}
.appliance:hover{
    /* border:1px solid #868282; */
    box-shadow: 1px 1px 5px 2px #3f3d3d;
    text-decoration: underline;
}
.top{
    display: inline-block;
    margin-right: 300px;
    margin-top: 20px;
    font-size: 18px;
}
.line{
    font-size: 13px;
}
.but{
    background-color: black;
    color: #fff;
    margin-left: 130px;
    margin-top: 10px;
    font-size: 18px;
    width: fit-content;
    
    padding: 16px 26px;
}
.conns{
    display: inline-block;
    margin-top: 70px;
    margin-left: 18px;
    font-size: 22px;
    text-align: center;
}
.click{
    color: black;
}
.img1{
    display: inline-block;
    
}
.details{
    display: inline-block;
    position: absolute;
    margin-left: -180px;
    font-size: x-small;
    margin-top: -20px;
    color: #333;
    text-decoration: underline;

}
.interest{
    margin-top: 20px;
    font-size: 34px;
    text-align: center;
}

@media (max-width: 768px) {
    .productoff, .productlist{
        flex-direction: column;
        align-items: center;
        margin-left: 690px;
    }
    .producttype{
        
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        
    }
    .product{
        padding-left: 10px;
    }
    .productlist{

        margin-right: 50px;
    }
    .app img{
        width: 100px;
    }
    .productoff {
        margin-top: 10px;
    }

    .img1, .appliance {
        width: 90%;
        height: auto;
    }

    

    .title2 {
        margin-right: 0;
        text-align: center;
    }

    
    .but {
        margin: 20px auto;
    }

    .conns {
        text-align: center;
        margin-left: 0;
    }

    .details {
        position: relative;
        margin-left: 0;
    }

    .interest {
        font-size: 24px;
    }

    .line {
        font-size: 14px;
    }
}